[submodule "external/cmsis-device-f4"]
	path = external/cmsis-device-f4
	url = https://github.com/STMicroelectronics/cmsis-device-f4
[submodule "external/CMSIS_5"]
	path = external/CMSIS_5
	url = https://github.com/ARM-software/CMSIS_5
[submodule "external/svd/stm32"]
	path = external/svd/stm32
	url = https://github.com/modm-io/cmsis-svd-stm32
[submodule "external/mp-units"]
	path = external/mp-units
	url = https://github.com/mpusz/mp-units.git
